## **Dataset 2** 

In the following dataset we have a list of attributes related to religious denominations and their membership and church counts in 1952, organized by county and state. Each attribute represents the number of members and churches for a specific denomination

### Import libraries

In [1]:
import pandas as pd
from IPython.display import display

### Insert Dataset

In [2]:
csv_file = 'datasets/1952.csv'
religion = pd.read_csv(csv_file)

### **Task 1 :** Get to know our data
Firstly, let's take a look at the dataset and comprehend the information it provides.

In [3]:
religion

,CaseID$,CNAME,STCODE,CCODE,TOTPOP,TOTMEMB,TOTCHUR,SDA_M,SDA_C,AOG_M,...,UCHRC_M,UCHRC_C,UCA_M,UCA_C,VEDS_M,VEDS_C,VLNTR_M,VLNTR_C,CGP_M,CGP_C
0,33,"Hale, AL",1,65,20832,5145,52,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,34,"Henry, AL",1,67,18674,4773,31,0,0,23,...,0,0,0,0,0,0,0,0,0,0
2,35,"Houston, AL",1,69,46522,19420,88,87,2,379,...,0,0,0,0,0,0,0,0,0,0
3,36,"Jackson, AL",1,71,38998,9030,82,110,1,0,...,0,0,0,0,0,0,0,0,0,0
4,37,"Jefferson, AL",1,73,558928,212326,595,991,4,648,...,0,0,0,0,0,0,0,0,454,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3070,3071,"Teton, WY",56,39,2593,968,3,0,0,10,...,0,0,0,0,0,0,0,0,0,0
3071,3072,"Uinta, WY",56,41,7331,3817,8,0,0,5,...,0,0,0,0,0,0,0,0,0,0
3072,3073,"Washakie, WY",56,43,7252,2378,15,70,3,90,...,0,0,0,0,0,0,0,0,0,0
3073,3074,"Weston, WY",56,45,6733,2025,13,92,2,69,...,0,0,0,0,0,0,0,0,0,0
3074,3075,"Yellowstone National Park, WY",56,47,353,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Based on the tasks below we will use the first 6 attribute , which are dimographic information about the religions dataset:      



* CNAME = County Name


* STCODE = State Census Code


* CCODE = County Census Code


* TOTPOP = Total Population in 1952


* TOTMEMB = Total number of members in 1952   


* TOTCHUR = Total Number of churches in 1952

The remaining 228 attributes contain data on the number of members and churches of each religion. 'M' is for the members and 'C' is for the churches of each religion.

In [4]:
print('Above it is displayed of the statistical summaries of three important attributes.')
religion[['TOTPOP','TOTCHUR','TOTMEMB']].describe()

Above it is displayed of the statistical summaries of three important attributes.

             TOTPOP      TOTCHUR       TOTMEMB
count  3.075000e+03  3075.000000  3.075000e+03
mean   4.898718e+04    59.465366  2.410584e+04
std    1.698913e+05    80.284820  9.496974e+04
min    5.200000e+01     0.000000  0.000000e+00
25%    1.000850e+04    24.000000  4.006500e+03
50%    1.876000e+04    42.000000  7.905000e+03
75%    3.584500e+04    68.000000  1.589350e+04
max    4.508792e+06  1939.000000  2.685524e+06

In [5]:
print("The data types of the religions are:\n")
display(religion.info())

The data types of the religions are:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3075 entries, 0 to 3074
Columns: 235 entries, CaseID$ to CGP_C
dtypes: int64(234), object(1)
memory usage: 5.5+ MB

None

In [6]:
religion.dtypes

CaseID$     int64
CNAME      object
STCODE      int64
CCODE       int64
TOTPOP      int64
            ...
VEDS_C      int64
VLNTR_M     int64
VLNTR_C     int64
CGP_M       int64
CGP_C       int64
Length: 235, dtype: object

In [7]:
print("Let's study the type of features available.")
print(religion.nunique())
print("After taking a look at the features, we can see that all of them are continuous")

Let's study the type of features available.
CaseID$    3075
CNAME      3075
STCODE       49
CCODE       258
TOTPOP     2986
           ...
VEDS_C        3
VLNTR_M      36
VLNTR_C       6
CGP_M       147
CGP_C        11
Length: 235, dtype: int64
After taking a look at the features, we can see that all of them are continuous

In [8]:
print("The dataset consists of  3075 rows and 235 columns.")
religion.shape

The dataset consists of  3075 rows and 235 columns.

(3075, 235)

In [9]:
print("Next, let's check if there are any missing values.")
display(religion.isnull().sum().any())

Next, let's check if there are any missing values.

False

In [10]:
print("Next, let's check if there are any duplicate values.")
check_for_duplicates=religion.iloc[:, 1:]
display(check_for_duplicates.duplicated().sum())

Next, let's check if there are any duplicate values.

0